/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;1,700&family=Playfair+Display:wght@400;600;800&family=Roboto:wght@300;500&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;600;800&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Crimson+Text&family=Playfair+Display:wght@400;600;800&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;1,700&family=Playfair+Display:wght@400;600;800&display=swap');
* {
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-decoration: none;
    scroll-behavior: smooth;
}

/* navbar */



nav {
    width: 100%;
    height: 75px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: "Playfair Display" , serif;
    border-bottom: 1px solid black;
}

.logo {
    font-weight: 600;
    font-size: 2em;
    font-style: italic;
    text-transform: uppercase;
    width: 20%;
    display: flex;
    justify-content: center;
}

.nav-links {
    font-weight: 400;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 80%;
}

.nav-links ul , .nav-links ul li  {
    height: 100%;
    display: flex;
    align-items: center;
    width: 100%;
}




.nav-links ul li a {
    color: black;
    margin: 0 20px;
    width: 60%;
}

.nav-links ul li span {
    margin-left: 2em;
    border-left: 1px solid black;
    height: 100%;
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-around;
    text-align: center;
}

/* menu hamburger */

.menu-hamburger {
    position: absolute;
    right: 5px;
    display: none;
}

.ham {
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
    transition: transform 400ms;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  .hamRotate.active {
    transform: rotate(45deg);
  }
  .hamRotate180.active {
    transform: rotate(180deg);
  }
  .line {
    fill:none;
    transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
    stroke:#000;
    stroke-width:5.5;
    stroke-linecap:round;
  }

.ham3 .top {
    stroke-dasharray: 40 130;
  }
  .ham3 .middle {
    stroke-dasharray: 40 140;
  }
  .ham3 .bottom {
    stroke-dasharray: 40 205;
  }
  .ham3.active .top {
    stroke-dasharray: 75 130;
    stroke-dashoffset: -63px;
  }
  .ham3.active .middle {
    stroke-dashoffset: -102px;
  }
  .ham3.active .bottom {
    stroke-dasharray: 110 205;
    stroke-dashoffset: -86px;
  }

/* container */

/* landing */

.landing-page {
    height: 100vh;
    width: 100%;
    font-family: 'Crimson Text', serif;
    padding-top: 50px;
}

.landing-page h1 {
    font-weight: 400;
    font-size: 8rem;
    text-transform: uppercase;
    word-spacing: 10px;
    width: 100%;
    text-align: center;

}

.landing-page h1 img {
    height: 150px;
    width: 150px;
    border-radius: 50%;
    border-bottom-left-radius: 0px;
}

.landing-page p {
    font-size: 3rem;
    text-align: start;
    font-weight: 300;
    font-family: "Roboto" , sans-serif;
    width: 80%;
}

.landing-page p span {
    font-weight: 500;
}

.landing-page .text-image {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px 0;
}

.landing-page .text-image img {
    width: 100px;
    border-top-left-radius : 100px ;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 100px;
    border-top-right-radius: 50px;
    margin: 0 20px;
}

.landing-page .select  {
    display: flex;
    flex-direction: column;

}

.landing-page .select span {
    font-size: 4rem;
}

@media screen and (max-width:1450px) {
    .landing-page h1 {
        font-size: 7rem;
    }
}

@media screen and (max-width:1250px) {
    .landing-page h1 {
        font-size: 6rem;
    }

    .landing-page p {
        font-size: 2.5rem;
    }
}

@media screen and (max-width:1050px) {
    .landing-page h1 {
        font-size: 5.5rem;
    }
}

@media screen and (max-width:880px) {
    nav {
        display: flex;
        flex-direction: column;
        position: absolute;
        background-color: rgba(58, 58, 58, 0.952);
        height: 100vh;
        width: 50%;
        justify-content: center;
        align-items: center;
        margin-left: -100%;
        transition: all 0.5s ease-out;
    }

    .nav-links ul li{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .nav-links ul li a {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 25px 0;
    }

    .nav-links ul li  span {
        display: flex;
        flex-direction: column;
        margin-left: 0;
        height: auto;
        border: none;
    }

    .menu-hamburger {
        display: flex;
    }

    .mobile-menu {
        margin-left: 0;
    }
}


@media screen and (max-width: 850px) {
    .landing-page h1 {
        font-size: 5rem;
    }

    .landing-page p {
        font-size: 2rem;
    }
}



@media screen and (max-width: 750px) {
    .landing-page h1 {
        font-size: 4rem;
    }

    .landing-page p {
        font-size: 2rem;
        margin: 25px 0;
        width: 100%;
    }

    .text-image {
        flex-wrap: wrap;
    }

    .text-image p {
        width: 100%;
    }

    .text-image img {
        width: auto;
    }

    .landing-page h1 img {
        height: 75px;
        width: 75px;
    }
}

@media screen  and (max-width:425px) {

    .landing-page h1 {
        font-size: 3rem;
        text-align: center;
        color: rgb(0, 0, 0);
    }

    .landing-page p {
        font-size: 2rem;
    }
    
}